@import "vars";
@import "global";
@import "../../node_modules/slick-slider/slick/slick";

.header{
    margin-bottom: 150px;
}
.header__inner{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.header__logo{
    padding-top: 27px;
    margin-bottom: 150px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.menu__item{
    &-list{
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-right: 20px;
        cursor: pointer;
        padding-top: 46px;
        &:hover{
            color: #FFC700;
            transition: all .7s;
        }
    }
}
.header__main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    &-title{
        position: relative;
        max-width: 720px;
        color: #FFFFFF;
        color: rgb(255, 255, 255);
        font-size: 72px;
        font-weight: 700;
        line-height: 88px;
        letter-spacing: 0%;
        text-align: left;
    }
    .one{
        position: absolute;
        left: 380px;
        top: 35px;
        color: #FFC700;
    }
    .two{
        font-size: 95px;
        font-weight: 900;
        line-height: 117px;
        letter-spacing: 0%;
        text-align: left;
        color: rgb(25, 180, 64)
    }
    &-social{
        max-width: 30px;
        gap: 8px;
    }
}

.header-btn{
    border-radius: 60px;
    background: linear-gradient(135.00deg, rgb(4, 153, 221),rgb(23, 193, 188) 100%);
    padding: 16px 72px 17px 53px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}
.article-popup{
    position: relative;
    &__box{
        position: absolute;
        right: 0;
        top: 75px;
    }
  }
.header__item{
    &-img{
        max-width: 360px;
    }
    &-popup{
        position: absolute;
        left: 40%;
        top: 85px;
        opacity: 0.4;
    }
}
.second-video{
    position: absolute;
    right: -365px;
    top: 75px;
    opacity: 0.4;
}
.slider-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    &__title{
        color: rgb(4, 153, 221);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }
    &__link{
        color: rgb(40, 40, 40);
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        a{
            text-decoration: underline;
        }
    }
}
.slider-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.slider-wrapper__box{
    width: 360px;
    height: 500px;
    color: #FFFFFF;
    padding: 211px 16px 42px 16px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.slider-wrapper__boxinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.boxinfo__name{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 2px;
}
.boxinfo__title{
    color: rgb(255, 199, 0);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 10px;
}
.boxinfo__date{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 20px;
    p{
    display: flex;
    align-items: center;
    gap: 5px;
    }
}
.boxinfo__text{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 35px;
}
.boxinfo__link{
    padding: 12px 43px;
    margin-bottom: 42px;
    border-radius: 40px;
    background: linear-gradient(135.00deg, rgb(4, 153, 221),rgb(23, 193, 188) 100%);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    width: 160px;
}
.slick-slide+.slick-current+.slick-active{
    width: 360px;
    margin-right: 20px;
}
.slide-one{
    background-image: url('../images/slider-img1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-two{
    background-image: url('../images/slider-img2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-three{
    background-image: url('../images/slider-img3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-four{
    background-image: url('../images/slider-img4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-five{
    background-image: url('../images/slider-img1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-six{
    background-image: url('../images/slider-img2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-seven{
    background-image: url('../images/slider-img3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-eight{
    background-image: url('../images/slider-img4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
@import "media";
