@import "vars";
@import "global";


.header__inner{
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.header__logo{
    padding-top: 27px;
    margin-bottom: 150px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.menu__item{
    &-list{
        display: inline-block;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-right: 20px;
        cursor: pointer;
        padding-top: 46px;
        &:hover{
            color: #FFC700;
            transition: all .7s;
        }
    }
}
.header__main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    &-title{
        position: relative;
        max-width: 720px;
        color: #FFFFFF;
        color: rgb(255, 255, 255);
        font-size: 72px;
        font-weight: 700;
        line-height: 88px;
        letter-spacing: 0%;
        text-align: left;
    }
    .one{
        position: absolute;
        left: 380px;
        top: 35px;
        color: #FFC700;
    }
    .two{
        font-size: 95px;
        font-weight: 900;
        line-height: 117px;
        letter-spacing: 0%;
        text-align: left;
        color: rgb(25, 180, 64)
    }
    &-social{
        max-width: 30px;
        gap: 8px;
    }
}

.header-btn{
    border-radius: 60px;
    background: linear-gradient(135.00deg, rgb(4, 153, 221),rgb(23, 193, 188) 100%);
    padding: 16px 72px 17px 53px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}


@import "media";
